/vendor*
.env
npm-debug.log
.DS_Store*
*.swp
.php*
!.php_cs.dist
.idea
node_modules
!public/css/theme_default
public/js
public/css/app.css
public/css/app.css.map
tests/test_bearer.json
update_platformsh.sh

py/closed_h.jpg
py/closed_v.jpg
py/contours_box_h.jpg
py/contours_box_v.jpg
py/match_area.jpeg
py/hsv_image.jpg
app/AcuvueFoundation/Api/GuzzleApiClient.php-bak
venv
